
              <div style="padding-top:30px; padding-left:60px; padding-right:60px; padding-bottom:20px;">
                <a  href="/">
                <img style="width:100%; height:200px;" src="//yt3.ggpht.com/PYqTbtUgh8Vr5csjWekhe8lqMdB64I6jK4MKoeNQ0PTDN4IxLz_5sOg6iekT9lAKDFOP94iWaxg=w2560-fcrop64=1,00005a57ffffa5a8-nd-c0xffffffff-rj-k-no">
              </a>
              </div>
              
              <div style="font-size:35px; padding-left:60px; display:flex; flex-direction:row; justify-content:space-between;">
                <div>
                  <a href="https://www.youtube.com/channel/UCV-sXV_p6INWzOvg5fIXmPQ?pbjreload=10"><i class="fa fa-youtube"></i></a>
                  <a href="https://www.instagram.com/thekpopkonverters/"><i class="fa fa-instagram"></i></a>
                  <a href="https://twitter.com/KpopKonverters"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.facebook.com/thekpopkonverters"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                  <a href="https://www.pinterest.com/kpopkonverters/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                </div>
                <div style="padding-right:80px;">
                  <a href="/about" style="font-family: 'Anton', sans-serif; padding-left:40px; margin-bottom:10px; font-size:20px;">About Us</a>
                  <a href="/contact" style="font-family: 'Anton', sans-serif; padding-left:40px; margin-bottom:10px; font-size:20px;">Contact Us</a>
                  <a href="https://www.redbubble.com/people/totomagoto" style="font-family: 'Anton', sans-serif; padding-left:40px; margin-bottom:20px; font-size:20px;">Kpop Store</a>
                </div>
                  <!--<span  class="pull-right" style=" padding-right:60px;"><div class="g-ytsubscribe" data-channel="cgpgrey"></div></span>-->
              </div>
                  <% if(currentUser){ %>
                <div class="row" style="margin:50px 50px 10px 50px;">
                 <div class="col-xs-12" style="display:flex; justify-content:space-between;">
                <div>
                    <a class="ui basic button green dashboard" href="/newpost">New Post</a>
                    <span class="dashboard" style=" font-size:15px; font-family: 'Arimo', sans-serif;">Currently editing as: <strong><%=currentUser.username%></strong></span> 
                </div>
                <div>
                    <a class="ui basic button green dashboard" href="/dashboard">Dashboard</a>
                    <a class="ui basic button black dashboard" style="" href="/logout">Logout</a>    
                </div>

                        </div>
                    </div>
                <% } %>
              
                 

