<!DOCTYPE html>
<html>
    <head>
<% include partials/header%>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    </head>
    <body>
<% include partials/navbar%>
<h1>KCON BINGO</h1>
    


<a href="/bingo/form">Fill out your bingo form</a><br>
<a href="/">HOME</a>
<% include partials/footer%>
