<!DOCTYPE html>
<html>
    <head>
            <% include partials/header%>

            <script type="text/javascript" >
    
                function submitForm()
                {
                    console.log("Called Submit Form " + selectedSquares)
                    var strToSend = "";
                    for (var i = 0; i<selectedSquares.length; i++)
                    {
                        console.log(i);
                        if ((null == selectedSquares[i]) || (false == selectedSquares[i]))
                        {
                            strToSend += "f";
                        }
                        else
                        {
                            strToSend += "t";
                        }
                        // if ((i + 1) < selectedSquares.length)
                        // {
                        //     strToSend += ",";
                        // }
                        console.log(strToSend);
                    }
                    console.log("User answers: " + strToSend);
                    var hiddenControl = document.getElementById("selectedSquares");
                    hiddenControl.value = strToSend;
                    document.forms.sendBingo.submit();
                    return false;
                }
                
            </script>
    </head>
    <body>
            <% include partials/navbar%>
            


<div class="container">
    <div class="row">
        <h1 class="wrapper">KCON BINGO GIVEAWAY!</h1>
        <div class="col-xs-12 wrapper" >
            <h4>To celebrate being at KCON LA 2018 this year we are hosting a KCON BINGO Giveaway! Here’s what you need to do to enter the drawing:</h4>
            <div style="width:70%; padding-left:30px;">
                <p class="left"> 1. Find our KCON BINGO board (on Instagram or Twitter or www.thekpopkonverters.com) and complete as many tasks as you can during KCON LA 2018. (We will also have hard copies of them at KCON. Find us!)</p><p class="left">2. Upload the pics/videos of your completed tasks on Instagram/Twitter using #KconBingo and tag @thekpopkonverters (@kpopkonverters on Twitter) so we can see all of the stuff you did!</p>           
            <p  class="left">3. After KCON LA is over, visit our new website www.thekpopkonverters.com and fill out the form you will find there with your name and instagram/twitter tag. Click on the KCON BINGO box for every task you completed. You will have ONE WEEK (August 19) after KCON to submit your entries. </p>
            <p  class="left">4. Each completed 5-in-a-row counts as ONE entry! (Blackout=12 entries; 5 horizontal, 5 vertical, 2 diagonals). </p>
            <p class="left">5. You will be entered in a random drawing (for as many rows you complete) for a Grand Prize package including a Taster Box from Inspire Me Korea, an official KCON Tshirt, an album and poster from an artist attending KCON… and more. </p>
            <p class="left">6. You will be notified by Twitter or Instagram, ONE WEEK after KCON is over (August 19, 2018) if you are the winner. If we don’t hear back from you within 24 hours with your shipping information, another winner will be chosen. </p>
            </div>
        </div>
    </div>
    <div class="row" style=" padding-top:70px;">
        <div class="col-md-4 col-sm-12">
            <form id="sendBingo" style="text-align:center;" method="POST" action="/bingo">
                <h1>Bingo Entry Form</h1>
                <input type="text" style="width:130px;" required="true" name="name" placeholder="First Name">
                <input type="text" style="width:130px;" required="true" name="name" placeholder="Last Name"><br>
                Instagram: <input type="text" required="true" style="width:180px;" name="instagram" ><br>
                Twitter: <input type="text" required="true" style="width:180px;" name="twitter"><br>
                <input type="hidden" name="selectedSquares" id="selectedSquares">
                
                <p style="padding-top:10px;">Select your completed bingo squares on the bingo board</p>
                <p>This giveaway will open on Aug 12, 2018 at 11:59 PM, MST</p>
                <!--<button style="margin-top:20px; width:100px; height:30px;" onClick="javascript:submitForm()">Submit</button>-->

            </form>
        </div>
        <div class="col-md-8">
            <table>
    <tr>
        <td><span class="bingoItem">Take a selfie with The Kpop Konverters</span></td>
        <td><span class="bingoItem">Visit the Kakao Friends booth in the vendor hall. Take an aegyo selfie!</span></td>
        <td><span class="bingoItem">Let The Kpop Konverters film your kpop konversion story (to be put on our channel)</span></td>
        <td><span class="bingoItem">Show us your best picture from one of the concerts</span></td>
        <td><span class="bingoItem">Go to any panel being offered at KCON. Tell us about it.</span></td>
    </tr>
        <tr>
        <td><span class="bingoItem">Do a kpop dance in public at the convention. Video or it didn’t happen!</span></td>
        <td><span class="bingoItem">Pick up and throw away any litter that you see.</span></td>
        <td><span class="bingoItem">Take a picture of your favorite artist in attendance on the jumbotron</span></td>
        <td><span class="bingoItem">Go to one panel featuring The Kpop Konverters</span></td>
        <td><span class="bingoItem">Take a picture of your audience engagement experience!</span></td>
    </tr>
        <tr>
        <td><span class="bingoItem">Visit the Choice Music booth at the vendor hall. Takeselfie with the Choice Gang logo.</span></td>
        <td><span class="bingoItem">Snap a picture of any special guest at the convention (idol, YouTuber, etc)</span></td>
        <td><span class="bingoItem">Follow the Kpop Konverters (Youtube, Instagram, Twitter and Facebook)</span></td>
        <td><span class="bingoItem">Bring a drink/food to someone waiting in the GA line. Picture for proof!</span></td>
        <td><span class="bingoItem">Ask us about Inspire Me Korea, and get a pamphlet!</span></td>
    </tr>
        <tr>
        <td><span class="bingoItem">Take a selfie with the people you are attending KCON with</span></td>
        <td><span class="bingoItem">Show us any merch bought at this year’s KCON</span></td>
        <td><span class="bingoItem">Say THANK YOU to a KCON volunteer/staff member.</span></td>
        <td><span class="bingoItem">Take a selfie with a NEW friend you made at this year's KCON</span></td>
        <td><span class="bingoItem">Try a new food on K-Food Street. Show us a picture!</span></td>
    </tr>
        <tr>
        <td><span class="bingoItem">Take a picture with online friends you are meeting in person for the first time.</span></td>
        <td><span class="bingoItem">Participate in the Random Dance Challenge</span></td>
        <td><span class="bingoItem">Go to both panels featuring the Kpop Konverters</span></td>
        <td><span class="bingoItem">Tell 3 people about The Kpop Konverter’s #KconBingo.</span></td>
        <td><span class="bingoItem">Ask a stranger..."Do you like Messi?"</span></td>
    </tr>
</table>
        </div>
    </div>
</div>

            
<script type="text/javascript" src="../../styles/toggle.js">
</script>

<% include partials/footer%>