<!DOCTYPE html>
<html>
    <head>
<% include partials/header%>
    <title>The Kpop Konverters</title>
    </head>
    <body>
<% include partials/navbar%>

<div style="padding:30px;" class="container">
    <div class-"row">
        <div class="col-xs-12">
            <h2>Information on our K-Con LA 2018 givaway will be coming soon!</h2>
        </div>
    </div>
    
</div>

