.page_section
{
    content:"";
    clear:both;
    display:table;
     
}
.blog_body
{
    width: 100%;
}
@media(min-width: 1200px)
{
    .blog_body{
        
    width: 63%;
    float: left;
    }
}
.sidebar
{
    width:80%;
    max-width: 480px;
    background-color: #dcd9e2;
    border:1px solid black;
    border-radius: 5px;
    height:1250px;
    margin: 0 auto;
}
.sidebar_wrapper
{
   padding-right:10px; 
   padding-top:60px;

}
.sideHeader
{
    font-family: 'Anton', sans-serif;
    font-size:25px;
    padding-top:20px;
}

@media(min-width: 1200px)
{
    .sidebar{
        
    
    width:35%;
    float:left;
    background-color: #dcd9e2;
    border:1px solid black;
    border-radius: 5px;
    height:1250px;
    
    }
}

.blog_wrapper
{
    padding-left: 15px;
    padding-right: 15px;

}
.giveaway-img
{
    width:350px;
    height: 200px;
    padding-top:10px;
    display:block;
    margin:auto;
}

@media(min-width: 700px){

.giveaway-img
{
    width:550px;
    height:250px;
}
  }
  
@media(min-width: 1075px){

.giveaway-img
{
    width:400px;
    height:170px;
}
  }
  
.bingo_banner
{
    width:90%;
    display:block;
    margin:0 auto;
    border:1px solid black;
}

@media(min-width: 1000px){

.bingo_banner
{
    width:65%;
    display:block;
    margin:0 auto;
    border:1px solid black;
}
  }